server:
  port: 7020
  address: 0.0.0.0
spring:
  application:
    name: ms-mss3
  profiles:
      active: prod
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  cloud:
    aws:
      s3:
        enabled: true
        region: eu-west-1
        #endpoint: http://172.16.4.47:9000
        endpoint: https://apis.cusco.gob.pe
      credentials:
        access-key: pIv9sSruhXHgDriL2vBE
        secret-key: Uem9zmZe4BVxA09aKxukCwcFdjPJXCAxCGoct8yz
management:
  endpoint:
  endpoints:
    web:
      exposure:
        include: '*'
