server:
  port: 7020
  address: 0.0.0.0
spring:
  application:
    name: ms-mss3
  profiles:
      active: prod
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  cloud:
    aws:
      s3:
        enabled: true
        region: eu-west-1
        endpoint: http://172.16.4.63:9000
        #endpoint: https://apis.cusco.gob.pe
      credentials:
        access-key: KMOyv6pKvJ8uu805OQQo
        secret-key: 8JeiKiyXMzM6TJHcHZN15JtFGuryjWlAKyLlO7LR
management:
  endpoint:
  endpoints:
    web:
      exposure:
        include: '*'
